
.main-content{
	float:left;
	position:relative;
	padding: 15px;
	overflow: auto;
	width: 100%;

}
.ivu-menu{
	height:100%;
}
.ivu-icon{
	margin: 0 5px;
}

.fl{
	float:left;
}
.fr{
	float:right;
}

.main-color{
	color:#ff3300;
}

.marginL-240{
	margin-left: 240px;
}
.marginT-15{
	margin-top: 15px;
}
.marginL-30{
	margin-left: 30px;
}
.marginT-20{
	margin-top: 20px;
}
.margin-10{
	margin:10px;
}
.mariginL-15{
	margin-left: 15px;
}

.fontSize-16{
	font-size: 16px;
}


